.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rsvp {
  width: 300px;
  float: left;
  margin-right: 5px;
}

.wait {
  width: 300px;
  float: left;
  margin-left: 5px
}

.lists {
  display: inline-block;
  width: 610px
}

li.list-group-item {
  margin-bottom: 10px;
}

li.list-group-item:hover{
background: rgba(6, 6, 68, 0.315)

}
.event {
  width: 80%;
  /* float: left; */
  margin: 20px 0px 50px 20px;
  display: inline-block;
  /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
  
}


